
#paginator
{
	-fx-page-information-visible : false;
	-fx-tooltip-visible : false;
}

.cancelBtn{
    -fx-background-color: rgb(91.0, 94.0, 94.0);
    -fx-text-fill: #ffffff;
    -fx-text-alignment: right;
  -fx-font-size:15.0px;
    -fx-font-weight:bold;
       -fx-background-radius :0.0px;
}
.cancelBtn:hover{
  -fx-background-color: rgb(120.0, 124.0, 124.0);
 /*
  * -fx-cursor: hand;
  */
}
.BtnDashboard{

    -fx-background-radius :0.0;
    -fx-background-color:  #F0FFFF;


}
.btnTimeNow{
	-fx-min-width: 50.0px;
	-fx-min-height: 25.0px;
	-fx-font-weight:bold;
    -fx-background-radius :0.0;
    -fx-background-color: transparent;
    -fx-font-size:12.0px;
    -fx-text-fill: #1EBC44;
}
.btnTimeNow:hover{
	-fx-cursor: hand;
	 -fx-font-size:13.0px;
}
.BtnRoundScan{

    -fx-background-radius : 18.0px 18.0px 18.0px 18.0px;
    -fx-background-color: #F5843B;
    -fx-font-size:13.0px;
    -fx-text-fill: #ffff;
    -fx-font-weight:bold;

}
.BtnRoundScan:hover{
	  -fx-background-color: #F89759;
	  -fx-cursor: hand;
}
.BtnRoundAdd{

    -fx-background-radius : 18.0px 18.0px 18.0px 18.0px;
    -fx-background-color: #1EBC44;
    -fx-font-size:13.0px;
    -fx-text-fill: #ffff;
    -fx-font-weight:bold;

}
.BtnRoundAdd:hover{
	  -fx-background-color: #53C86F;
}
.BtnRoundRemove{

    -fx-background-radius : 18.0px 18.0px 18.0px 18.0px;
    -fx-background-color: #F6431B;
    -fx-font-size:13.0px;
    -fx-text-fill: #ffff;
    -fx-font-weight:bold;

}
.BtnRoundRemove:hover{
	  -fx-background-color: #F76E50;
}
/*.BtnDashboard .glyph-icon:hover{
	 -fx-fill: #ffff;

} */

.errorMsg.glyph-icon{
	-fx-fill: red;
}
.sucsessMsg.glyph-icon{
	-fx-fill: #07CB66;
}
.warningMsg.glyph-icon{
	-fx-fill: #E5D006;
}
.BtnDashboard:hover>.glyph-icon{
	 -fx-fill: #ffff;
	}

.BtnDashboard:hover{
	 -fx-background-color:rgb(58.0, 163.0, 178.0 );
	 -fx-border-width: 0.25px;
     -fx-border-color:grey;
     -fx-text-alignment: right;
     -fx-text-fill: #ffff;
	 -fx-fill: #ffff;
	 -fx-font-weight:bold;
}
.dashboardCloseBtn{
	   -fx-text-fill: #ffff;
	    -fx-background-color: #DF2F2F;
}
.dashboardCloseBtn:hover{
 -fx-background-color: #F90606;
}
.btnLogOut{
-fx-background-color: rgb(58.0, 163.0, 178.0 );
-fx-fill:#C5ECE6;
}
.btnLogOut:hover{
	 -fx-background-color: #49BFCF;
}
.btnImage{

}
.btnImage:hover{

	  -fx-border-width: 1.0px;
       -fx-border-color:#49BFCF;
       -fx-fill: #ffff;

}
.btnImage:hover>.label{
	-fx-background-color: #49BFCF;
	-fx-text-fill: #ffff;
}

.context-menu {
    -fx-max-height:400.0px;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em; /* 0 4 0 4 */
}

.context-menu .scroll {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */

}

.context-menu .scroll:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #006699;
    -fx-text-fill: -fx-selection-bar-text;
}

.context-menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.saveBtn{
    -fx-background-color: rgb(14.0, 150.0, 170.0);
    -fx-text-fill: #ffffff;
    -fx-text-alignment: right;
 	-fx-font-size:15.0px;
    -fx-font-weight:bold;
    -fx-background-radius :0.0;

/*    -fx-border-top-left-radius: 0px;
    -fx-border-top-right-radius: 0px; */

}
.saveBtn:hover{
    -fx-background-color: rgb(58.0, 163.0, 178.0 );
    -fx-cursor: hand;
}
.historyBtn{
    -fx-background-color: transparent;
    -fx-text-fill: rgb(14.0, 150.0, 170.0);
    -fx-text-alignment: right;
 	-fx-font-size:15.0px;
    -fx-font-weight:bold;
    -fx-background-radius :0.0;

}
.historyBtn:hover{
-fx-background-color:#E1E5E5;
    -fx-cursor: hand;
}
.toggle-button {
	 -fx-background-radius :0.0;
	 /*
	  * -fx-background-color:#A4A9A9;
	  */
    -fx-background-color:rgb(120.0, 124.0, 124.0);
    -fx-text-fill: white;
     -fx-font-weight:bold;
	-fx-font-size:10.0px;


}
.toggle-button:selected {
	-fx-background-color:#505050;
-fx-font-size:12.0px;
}
.toggle-button:focused {

}
.blue-btn{
    -fx-background-color: rgb(14.0, 150.0, 170.0);
/*    -fx-shadow-highlight-color : transparent;*/
    -fx-text-fill: #ffffff;
    -fx-text-alignment: right;
    -fx-button-type:raised;
    -fx-font-size:11.0px;
    -fx-font-weight:bold ;
     -fx-background-radius :0.0px;
    -fx-cursor: hand;
}
.blue-btn:hover{
     -fx-background-color: rgb(58.0, 163.0, 178.0 );
}
.btnTopBar{
	-fx-background-color: #555555;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: right;
   -fx-font-size:15.0px;
    -fx-font-weight:bold;
    -fx-background-radius :0.0;
}
.btnTopBar:hover{
	-fx-background-color:#757272;
}
.btnAutoSearch{
	-fx-background-radius :0.0;
	-fx-background-color: #ddd;

}
.btnAutoSearch:hover{
	-fx-background-color: #ddd;
}
.list-btn{
    -fx-cursor: hand;
}
.list-btn:hover{
    -fx-background-color: #1bb27f;
    -fx-text-fill: #ffffff;
}
.green-btn{
    -fx-background-color: rgb(0.0, 166.0, 90.0);
    -fx-text-fill: #ffffff;
    -fx-text-alignment: right;
    -fx-font-size:16.0px;
    -fx-button-type:raised;
    -fx-font-weight:bold ;
    -fx-pref-width: 100.0px;
}
.cancel-button{
    -fx-animated: true;
    -fx-background-color: #DDDDDD;
    -fx-font-size:16.0px;
    -fx-font-weight:bold ;
    -fx-pref-width: 100.0px;

}
.text-field{
    -fx-background-radius :0.0px;
      -fx-min-height: 30.0px;
      -fx-font-size:15.0px;

/*    -fx-border-color:  #c9c9c2;*/
}
.text-area{
    -fx-background-radius :0.0px;
      -fx-min-height: 60.0px;
      -fx-font-size:15.0px;


}
.date-picker{
     -fx-background-radius :0.0px;
      -fx-min-height: 30.0px;
      -fx-font-size:15.0px;
}
.label{
    -fx-cursor: default;
-fx-font-size:15.0px;

}
.headerLabel.label{
	-fx-font-size:18.0px;
}
.radio-button {
	-fx-font-size:15.0px;

}
.choice-box{
     -fx-background-radius:  0.0;
      /*
       * -fx-min-height: 30.0px;
       *  -fx-max-height: 100.0px;
       *
       */
      -fx-font-size:15.0px;




}
.choice-box .scroll-bar:vertical{
    -fx-background-color:transparent;

}
.choice-box .menu-item:focused {
    -fx-background-color: rgb(58.0, 163.0, 178.0 );
}
.choice-box .menu-item {
  -fx-min-width: 300.0px;
}
.combo-box{
	 -fx-font-size:12.0px;

}
.pageHeader{
     -fx-text-fill: #ffff;
     -fx-font-weight:bold;
     -fx-font-size:25.0px;
     -fx-background-color:   #555555;

}
.pageSubHeader{
     -fx-text-fill: #ffff;
     -fx-font-weight:bold;
     -fx-font-size:18.0px;
     -fx-background-color:  #3aa3b2;
   /*
    -fx-background-color:  #6bbdc9;
    */

}
.btnDashboardExpand{
	-fx-text-fill: #ffff;
	   -fx-background-color:  #3aa3b2;
	   -fx-border-color:#ffff;
	   -fx-border-width:0.5px;
}
.btnDashboardExpand:hover{
	 -fx-background-color:  #40B9CA;
}

.auto-complete-popup {
    -fx-background-color: rgb(58.0, 163.0, 178.0 );
	-fx-border-width: 0.0px;
    -fx-border-color:  rgb(58.0, 163.0, 178.0 );
    -fx-border-radius: 1.0px;
}

.table-view .column-header {
    -fx-background-color:  #555555;
    -fx-text-fill: #ffff;
    -fx-fill:#ffff;
    -fx-font-weight:normal;
}
.table-view .column-header-background .label{
    -fx-text-fill: white;
}
.table-view .arrow {
    -fx-fill: #ffff;
     -fx-background-color:  #ffff;

}
.table-row-cell{

 -fx-table-cell-border-color:#A3AFAF;
 -fx-border-color:#A3AFAF;
 -fx-font-size:14.0px;
}
.table-row-cell:selected   {
   -fx-background-color: rgb(58.0, 163.0, 178.0 );
    -fx-text-fill: white;
    -fx-font-weight:bold;

}

.totalTable.table-view.table-row-cell{
 -fx-table-cell-border-color:#A3AFAF;
 -fx-border-color:#A3AFAF;
 -fx-font-size:19.0px;
 -fx-font-weight:bold;
}

.titled-pane{
	 -fx-text-fill: #ffff;
}
.titled-pane .title
{
    -fx-background-radius:  0.0;
   -fx-font-weight:normal;
 -fx-background-color:#505050;
 -fx-font-size: 13.0px;


}

.titled-pane.title:hover{
   /*-fx-background-color:#c4d8db; */
}
.titled-pane:focused {
    -fx-background-color:transparent;
}
.customeTitledPane.titled-pane .title
{
    -fx-background-radius:  0.0;
   -fx-font-weight:bold;
 -fx-background-color:#3aa3b2;
 -fx-font-size: 15.0px;
  -fx-min-height: 300.0px;


}
.titled-pane > .title > .arrow-button .arrow
{
-fx-background-color: #ffff;



}
/*Material list view*/
.list-view:focused .list-cell:filled:focused:selected {

}

.list-view:hover .list-cell:hover {
   -fx-background-color:#1bb27f;
    -fx-text-fill: #ffff;
}

.list-cell {
    -fx-cell-size: 25.0;
    -fx-border-width:0.25px;
    -fx-border-color: #555555;
    -fx-cursor: hand;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
   -fx-background-color: #1bb27f;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #1bb27f;
    -fx-text-fill: white;
}
.menu-item  {
-fx-min-width: 300.0px;
}
.menu-item:hover {
    -fx-background-color: rgb(58.0, 163.0, 178.0 );
    -fx-text-fill: white;
}
.menu-item:focused {
 -fx-background-color: rgb(58.0, 163.0, 178.0 );
    -fx-text-fill: white;
}

.menu-item:focused .label {

}
/*Choice box pop up*/
.context-menu {

   -fx-background-radius:  0.0;
	-fx-max-width: 300.0px;
     -fx-min-width: 250.0px;
     -fx-max-height: 500.0px;
     -fx-font-size:15.0px;

}
.context-menu .scroll-arrow:hover {

    -fx-background-color: rgb(58.0, 163.0, 178.0 );

}

.errorDiag{
    -fx-border-width: 1.0px;
 -fx-border-color: grey;
  -fx-min-width: 300.0px;
  -fx-min-height: 200.0px;
   -fx-alignment: CENTER;
}
.errorDiag > *.button-bar > *.container{
    -fx-background-color: #fff;
}
.errorDiag > *.label.content{
    -fx-font-size: 16.0px;

}
.errorDiag:header *.header-panel{
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-background-color: #ef2b48;
     -fx-max-height: 90.0px;
    -fx-text-fill: white;

}
.errorDiag:header *.header-panel *.label{
    -fx-font-size: 20.0px;
   -fx-font-weight: bold;
  -fx-text-fill: white;


 }
 .errorDiag .button{
   -fx-background-color:#5b5e5e;
   -fx-text-fill:white;
   -fx-wrap-text: true;
     -fx-background-radius :0.0px;
     -fx-font-weight:bold;
     -fx-alignment: CENTER;

 }
 .warningDiag{
    -fx-border-width: 1.0px;
 -fx-border-color: grey;
  -fx-min-width: 300.0px;
  -fx-min-height: 200.0px;
   -fx-alignment: CENTER;
}
.warningDiag > *.button-bar > *.container{
    -fx-background-color: #fff;
}
.warningDiag > *.label.content{
    -fx-font-size: 16.0px;

}
.warningDiag:header *.header-panel{
    -fx-font-size: 20.0px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(58.0, 163.0, 178.0 );
     -fx-max-height: 90.0px;
    -fx-text-fill: white;

}
.warningDiag:header *.header-panel *.label{
    -fx-font-size: 20.0px;
   -fx-font-weight: bold;
  -fx-text-fill: white;


 }
 .warningDiag .button{
   -fx-background-color:#5b5e5e;
   -fx-text-fill:white;
   -fx-wrap-text: true;
     -fx-background-radius :0.0px;
     -fx-font-weight:bold;
     -fx-alignment: CENTER;

 }
.alertDialog{
 -fx-border-width: 2.0px;
 -fx-border-color: grey;
  -fx-min-width: 300.0px;
  -fx-min-height: 200.0px;
   -fx-alignment: CENTER;

}
.alertDialog > *.button-bar > *.container{
    -fx-background-color: #ffff;
}
.alertDialog > *.label.content{
    -fx-font-size: 16.0px;

}
.alertDialog:header *.header-panel{
 -fx-background-color: #3aa3b2;
  -fx-max-height: 10.0px;

}
.alertDialog:header *.header-panel *.label{
    -fx-font-size: 18.0px;
    -fx-fill: #ffff;
       -fx-text-fill: white;
       -fx-font-weight:bold;
}
.alertDialog .button{
   -fx-background-color:#5b5e5e;
   -fx-text-fill:white;
   -fx-wrap-text: true;
     -fx-background-radius :0.0px;
     -fx-font-weight:bold;

 }

.alertDialog .button:hover{
  -fx-background-color:#787c7c;

  -fx-font-weight:bold;

}

.alert.confirmation.dialog-pane {

}

.notification-bar>.pane {

  -fx-background-color: #50E1E1;

    -fx-padding: 5.0 5.0 5.0 5.0;
    -fx-background-insets: 0.0, 1.0, 2.0;
}

.notification-bar>.pane .title {
    -fx-font-size: 1.333em; /*16px;*/
    -fx-text-fill: #ffff;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 1.0em; /*12px;*/
    -fx-text-fill: #000;
    -fx-alignment: top-left;
}

.dashBoardListView .list-cell {
	  -fx-cell-size: 32.0;
	  -fx-font-size: 13.0px;
}
.medicationListView .list-cell {
	  -fx-cell-size: 29.0;
	  -fx-font-size: 15.0px;
}
.customListView .list-cell {
	  -fx-cell-size: 38.0;
	  -fx-font-size: 14.0px;
}

.favList-view:hover .list-cell:hover {
   -fx-background-color: rgb(58.0, 163.0, 178.0 );
    -fx-text-fill: #ffff;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.0;

}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}


.tab-pane .tab
{
    -fx-background-color: #A3DFDE;
-fx-font-size: 25.0px;
-fx-text-fill: #ffff;

}
.tab-header-area .tab{

    -fx-padding:7.0px;
     -fx-border-width: 1.0px;

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}
.tab-pane .tab:selected
{
   -fx-background-color:  rgb(58.0, 163.0, 178.0 );
     -fx-text-fill: #ffff;
      -fx-border-width: 1.0px;
       -fx-border-color:grey;

}

/*.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
 */
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffff;

}

.tab *.tab-label {
   /*  -fx-rotate: 90;
    * -fx-text-fill: #828282;*/
     -fx-alignment: CENTER;
	-fx-font-size: 15.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #505050;

}

.tab {
    -fx-padding: 20.0px;

}
.tab-content-area
{
	/*-fx-background-color: #def8fc;*/
	 -fx-border-width: 1.0px;
       -fx-border-color:grey;
}

.tab-pane
{
    -fx-tab-min-width:90.0px;

}
.dashBoardTabPane>.tab-header-area .tab{

    -fx-padding:2.0px;
     -fx-border-width: 1.0px;

}
.dashBoardTabPane.tab-pane{
	 -fx-tab-min-width:90.0px;
	 -fx-tab-min-height:20.0px;
}
.dashboardTitledPane >.titled-pane .title{
 -fx-font-weight:normal;
 -fx-background-color:grey;
 -fx-font-size: 3.0px;
}
.customeBorder{
	 -fx-border-width: 3.0px;
       -fx-border-color:grey;

}
.customeBorderForVB{
	 -fx-border-width: 1.0px;
       -fx-border-color:grey;
}
.bannerDetailsBorder{
	 -fx-border-width: 1.0px;
       -fx-border-color:grey;
}
.search-box:focused {
    -fx-background-color: -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0.0;
    -fx-background-radius: 14.0;
}

.customCheckBox >.check-box .box {
-fx-background-color: #505050;
-fx-border-radius:0.0px;
-fx-min-height: 25.0px;
-fx-min-width: 25.0px;
-fx-font-size:15.0px;
}
.customCheckBox >.check-box :selected .box {
-fx-background-color: #07CB66;
-fx-border-color:transparent;
-fx-border-radius:0.0px;
}
.criticalCheckBox >.check-box .box {
-fx-background-color: #505050;
-fx-border-radius:0.0px;
-fx-min-height: 25.0px;
-fx-min-width: 25.0px;
-fx-font-size:15.0px;
}
.criticalCheckBox >.check-box :selected .box {
-fx-background-color: #ef3e47;
-fx-border-color:transparent;
-fx-border-radius:0.0px;
}
.check-box .box {
-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:0.0px;
-fx-min-height: 25.0px;
-fx-min-width: 25.0px;
-fx-font-size:15.0px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #07CB66;
-fx-border-color:transparent;
-fx-border-radius:0.0px;
}

/* graph plots on dashboard */



.default-color0.chart-series-line
{
	-fx-stroke: #000000;
	-fx-stroke-width: 1.0;
}
.default-color1.chart-series-line
{
	-fx-stroke: #000000;
	-fx-stroke-width: 1.0;
}
.default-color2.chart-series-line
{
	-fx-stroke: #000000;
	-fx-stroke-width: 1.0;
}
.default-color3.chart-series-line
{
	-fx-stroke: #000000;
	-fx-stroke-width: 1.0;
}



.default-color0.chart-line-symbol
{
	-fx-background-color: #0000ff, white;
    -fx-background-insets: 0.0, 2.0;
    -fx-background-radius: 5.0px;
    -fx-padding: 4.0px;
}

.default-color1.chart-line-symbol
{
 -fx-background-color: #7F0000,white;
    -fx-background-radius: 0.0;
    -fx-background-insets: 1.0,2.0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";

}


.default-color2.chart-line-symbol
{
	-fx-background-color: #008000;
    -fx-background-radius: 0.0;
    -fx-padding: 4.0px ;
   -fx-shape: "M5,0 L10,8 L0,8 Z";
}


.default-color3.chart-line-symbol
{
	-fx-background-color: #000000;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
     -fx-shape: "M0,4 L2,4 L4,8 L7,0 L9,0 L4,11 Z";
}


.boldLabel
{
	-fx-font-size:14.0;
	-fx-font-weight:bold;
}


.noheader .column-header-background {
    -fx-max-height: 0.0;
    -fx-pref-height: 0.0;
    -fx-min-height: 0.0;
}
.GridPane {


    -fx-font-family: Arial;
    -fx-font-weight:bold;

}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #505050;
    -fx-background-radius: 0.0em;
        -fx-min-height: 30.0px;

}
.sidebarBtn{
     -fx-background-color: #ffffff;
     -fx-border-width: 2px;
     -fx-border-color: rgb(58.0, 163.0, 178.0 );
     -fx-text-alignment: left;
     -fx-font-weight:bold;

}
.sidebarBtn:hover{
    -fx-background-color: rgb(58.0, 163.0, 178.0 );
     -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
.sidebarCriticalEventBtn{
     -fx-background-color: #ef3e47;
     -fx-border-width: 2px;
     -fx-text-fill: #ffffff;
     -fx-border-color: #ef3e47;
     -fx-text-alignment: left;
     -fx-font-weight:bold;

}
.sidebarCriticalEventBtn:hover{
    -fx-background-color: #f2525a;
     -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}
.sidebarBtnExecuted{
    -fx-background-color: #53C86F;
    -fx-text-fill: #ffffff;
    -fx-font-weight:bold;
    -fx-padding: 2.0px ;

}
.sidebarBtnExecuted:hover{
    -fx-background-color: #60e07f;

}
 .sidebarBtnExecuted:disabled  {
  -fx-opacity: 0.9;
  -fx-background-color:#53C86F;
}

.nestedTitledPane > .title
{
-fx-background-color: gray;
}

.titled-pane > .title
{
	-fx-font-size:18;
}
.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.jfx-progress-bar > .bar {
    -fx-background-color: #018ac4;
}